
h2 {
    color: red;

}

#header {
    text-align: center;
}

#login_entries_container {
    display: inline-block;
}

.super_container {
    position: relative;
    text-align: center;
    height: 500px;
}

.content_container {
    vertical-align: middle;
    display: inline-block;
    top: 30%;
}